body {
	width: 100em;
	margin-top: 0 em;
	font-family: "Helvetica", sans-serif;
}

h1 {
	font-size: 50px;
	color: #10bb5f;
	text-align: left:;
	margin-bottom: 0em;
}

header {
	border-bottom: thick solid #1487a7;
	margin-bottom: 3em;
	margin-left: 5em;

	width: 100em;
}

aside > a {
	margin-left: 1em;
}

footer {
	position: relative;
	float: clear;

	border-top: thick solid #1487a7;

	width: 100em;
	
	margin-top: 43em;
	margin-left: 5em;

	text-align: center;
	
}

#message {
	color :#1487a7;
	font-size: 1.4em;
}

#content {
	display: inline-block;
	width: 100em;
	height: 40em;
}

#info {
	float: clear;
}

#mapContainer {
	position: absolute;
	
	height: 40em;
	width: 70em;

	margin-left: 5em;

	float: left;
}

#songTable {
	position: absolute;
	
	height: 38em;
	width: 27.5em;
	
	border: 1em solid #009b48;
	
	margin-left: 70em;
	margin-top: -40em;

	float: right;
}