body {

	font-family: "Helvetica", sans-serif;
	background-color: #10bb5f;
}

h1 {
	font-size: 50px;
	color: #34c376;
	text-align: left:;
}

#header {
	background-color:#FFFFFF;
	position: static;
	display: block;
	border: thick solid #1487a7;
	margin-bottom: 1em;
	margin-left: 5%;
	z-index: 2;
	width: 95%;
}

aside > a {
	margin-left: 1em;
}

footer {
	position: static;
	float: clear;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
}

#message {
	color :#34c376;
	font-size: 22px;
}

#content {
	position: static;
	display: inline-block;
	width: 95%;
	margin-left: 5%;
	background-color: #F1F1F1;
	border-bottom: thick solid #628484;

}

#info {
	float: clear;
}

#mapContainer {
	position: static;
	height: 45em;
	width: 73.8%;
	display: inline;
	float: left;
}

#songTable {
	position: static;
	display:inline;
	height: 45em;
	width: 24.5%;
	
	border: 0.9em solid #1487a7;
	float: right;
}