body {
	font-family: "Helvetica", sans-serif;
	background-color: #10bb5f;
}

#navigation {
	background: rgba(210, 255, 231, 0.8);
}


#brand {
	padding: 0;
	margin-top: -5px;
	font-size: 40px;
	color: #34c376;
	text-decoration: none;
}
.navbar-text {
	margin-left: 2px;
	margin-top: -5px;
	margin-bottom: 5px;
	font-size:16px;
}
.container-fluid {
	padding: 0;
}

#header {
	margin-top: -0.45em;
	display: block;
	margin-left: 4.167%;	/*1/24 of the total width on each side since the content takes up 11/12*/
}

#message {
	color :#34c376;
	font-size: 22px;
}

#content {
	margin-top: 7em;
	position: static;
	margin-left: 4.167%;	/*1/24 of the total width on each side since the content takes up 11/12*/
	background-color: #FFFFFF;
	border-bottom: thick solid #628484;
	padding-left: 0;
	padding-right: 0;
}

#info {
	float: clear;
}
#navbar-collapse-1 {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#right-menu {
	position: absolute;
	margin-right: 4.167%;
	text-align: center;
	height: 100%;
	text-align: center;
	right: 0;
}

.user-control {
	padding-left: 2em;
 	top: 50%;
 	transform: translateY(-50%);
}

footer {
	margin-top: 2em;
	position: static;
	float: clear;
	text-align: center;
	color: #FFFFFF;
}


