li > a {
	color: #424242;
	text-decoration: none;
}

#mapContainer {
	position: static;
	height: 55em;
	float: left;
	padding: 0;
}

#infoWindow{
	height: 5em;
	width: 17.5em;
}

#songTable {
	background-color: #fbf7e4;
	position: relative;
	padding-top: 2em;
	height: 55em;
	border: 0.5em solid #424242;
	float: right;
}

#soundcloudPlayer {
	position: absolute;
	bottom: 10px;
	height: 35%;
}

iframe {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

/*CSS for JQuery UI dialog box*/

input.text {
	margin-bottom: 12px;
	width: 95%;
}

fieldset {
	padding:1em;
	border: 0;
}

.validateTips {
	border: 1px solid transparent;
}

.ui-dialog-titlebar {
	padding: 0.3em 1em 0.3em 1em;
}

.ui-dialog-titlebar .ui-button {	/*The button in the titlebar*/
	float: right;
}
.ui-dialog-content {		/*Gets rid of the border between content and button pane*/
	border-bottom: 0px;
}
.ui-dialog-buttonpane{
	border-top: 0px;
	padding-bottom: 1em;
}
.ui-dialog-buttonset {		/*Buttons in the bottom bar*/
	text-align: center;
}
.ui-dialog-buttonset .ui-button {
	margin-right: 2em;
}
