li > a {
	color: #000000;
	text-decoration: none;
}

#mapContainer {
	position: static;
	height: 55em;
	float: left;
	padding: 0;
}

#infoWindow{
	height: 5em;
	width: 17.5em;
}

#songTable {

	position: relative;
	padding-top: 2em;
	height: 55em;
	border: 0.5em solid #1487a7;
	float: right;
}

#soundcloudPlayer {
	position: absolute;
	bottom: 10px;
	height: 35%;
}

iframe {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

/*CSS for JQuery UI dialog box*/
input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: 0.4em;
}

fieldset {
	padding:1em;
	border: 0;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}