<!DOCTYPE html>

{% load static %}

<html>
	<head>
	    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	    <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <script src="{% static "jquery-1.11.1.js" %}"></script>
	    <style type="text/css">
	      html { height: 100% }
	      body { height: 100%; margin: 0; padding: 0 }
	      #map-canvas { height: 100% }
	    </style>

	    <script src="{% static "sensitiveInfo.js" %}"></script>
	    
	    <script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=".concat(mapKey)>
	    </script>
	    
	    <script type="text/javascript" src="{% static "map.js" %}"></script>
 	</head>


  <body>
  	<header>
  		<h1> Soundscape </h1>
  		<div id = "message">
  			{% if user.is_authenticated %}
	        Welcome, {{ user.username }}!</br>
	        <a href="/soundmap/logout/">Logout</a>
	       	{% else %}
	        <a href="/soundmap/register/">Register</a>
	        <a href="/soundmap/login/">Login</a>
	       	{% endif %}
       </div>
  		
  	</header>	
	
	<div id="content">
		
	    <div id="mapContainer">
	    	<div id="map-canvas"/>
	    </div>

	    <aside id="songTable">
	    	<ul>
	    		<li> No songs to play at this time </li>
	    	</ul>
	    </aside>
	    <button onclick="enablePlacing()">Place a marker</button>
	    <button onclick="placeCurrentLocationMarker()">Place a marker at current location</button>
	    <button onclick="test()">Test</button>

	</div>

	<footer>
		<p>&copy; 2014 Ian Char and Tommy Fan</p>
	</footer>

  </body>

</html>