{% extends 'soundmap/base.html' %}

{% load static %}

{% load dajaxice_templatetags %}

{% block title %} Soundscape {% endblock %}

{% block head_block %} 
		{% dajaxice_js_import %}
		<link rel="stylesheet" href="{% static 'css/index_style.css' %}" />
        <script src="{% static "jquery-1.11.1.js" %}"></script>
	    <script src="{% static "sensitiveInfo.js" %}"></script>
	    <script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=".concat(mapKey)>
	    </script>
	    <script src="http://connect.soundcloud.com/sdk.js"></script>
	    <script type="text/javascript">
	    	function my_callback(data) {
	    		var key;
	    		for(key in data) {
	    			var song = data[key];
	    			console.log(song.artist);
	    			console.log(song.name);
	    			populate(song);
	    		}
	    	}
	    </script>
 {% endblock %}


{% block body_block %}

	    <div class = "col-md-9" id="mapContainer"></div>

	    <div class = "col-md-3" id="songTable">
	    	{% block side_block %}
	    	{% if song_list %}
	    		<ul>
	    			{% for song in song_list %}
	    			<li><a onclick = "playMusic('{{song.url}}')" id="{{song.artist}}">{{song.name}} -- {{song.artist}}</a></li>
	    			{% endfor %}
	    		</ul>
	    	{% else %}
		    	<ul>
		    		<li> No songs to play at this time </li>
		    	</ul>
		    {% endif %}
		    <a href = "/soundmap/add_song/">Add a new song</a>
			{% endblock %}
			
		    <div id="soundcloudPlayer">
		    	<p>Click on a marker to hear a song!</p>
		    </div>
	    </div>

		<button onclick="enablePlacing()">Place a marker</button>
	    <button onclick="placeCurrentLocationMarker()">Place a marker at current location</button>
	    <button onclick="Dajaxice.soundmap.getMarkerInfo(my_callback);">Populate</button>
	<script type="text/javascript" src="{% static "map.js" %}"></script>
	<script src="{% static "soundmap-ajax.js" %}"></script>

{% endblock %}