{% extends 'soundmap/base.html' %}

{% load static %}

{% block title %} Register {% endblock %}

{% block head_block %}
	<style>
		#container {
			padding-left: 0;
		}
		#registration_form {
			padding-left: 2em;
			height:30em;
		}
	</style>
{% endblock %}

{% block body_block %}
<div class="container-fluid" id="container">
	<div class="col-xs-5" id="registration_form">
		{% if registered%}
			<h1> Thank you for registering! </h1> </br>
			<a href="/soundmap/login/">Login</a> when you are ready </br>
			<a href = "/soundmap/"> Return to the homepage. </a>
		{% else %}

		<form class="form-horizontal" role="form" id = "user_form" method = "post" action="/soundmap/register/" enctype = "multipart/form-data">
			{% csrf_token %}
			<h1>Register here!</h1>
			{% for field in user_form.visible_fields %}
				{{field.errors}}
				{{field.help_text}} <br/>
				{{field}} <br/>
			{% endfor %}
			{% for field in profile_form.visible_fields %}
				{{field.errors}}
				{{field.help_text}} <br/>
				{{field}} <br/>
			{% endfor %}

			</br>
			<input class="btn btn-primary" type = "submit" name="submit" value = "Register"/>
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}